<header class="p-3 text-bg-secondary">
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <ul class="nav col-12 col-lg-auto me-2 mb-2 justify-content-center mb-md-0">
                <li><a href="#" (click)="categoryClickHandler('pães')" class=" nav-link px-2 text-white">Pães</a></li>
                <li><a href="#" (click)="categoryClickHandler('laticíneos')" class=" nav-link px-2
                        text-white">Laticíneos</a></li>
                <li><a href="#" (click)="categoryClickHandler('confeitaria')" class=" nav-link px-2
                        text-white">Confeitaria</a></li>
                <li><a href="#" (click)="categoryClickHandler('mercado')" class=" nav-link px-2 text-white">Mercado</a>
                </li>
                <li><a href="#" (click)="categoryClickHandler('')" class=" nav-link px-2 text-white">Tudo</a>
                </li>
            </ul>
            <form class="col-6 col-lg-auto me-auto">
                <input type="search" class="form-control text-bg-body" placeholder="Search..." aria-label="Search">
            </form>
            <button class="btn btn-warning col-auto ms-2 col-auto p-1"><img class="img-fluid" style="max-height: 25px;"
                    src="https://cdn.iconscout.com/icon/free/png-256/free-basket-340-452659.png">
            </button>

        </div>

    </div>
</header>

<body>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <ng-container *ngIf="(products$ | async) as products;">
                <div *ngIf="products.length > 0; else nenhumResultado"
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <ng-container *ngFor="let product of products">
                        <app-listed-product [product]="product"></app-listed-product>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #nenhumResultado>
                Nenhum Resultado encontrado
            </ng-template>
        </div>
    </div>
</body>