<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div *ngIf="(products$ | async) as products;">
            <div *ngIf="products.length > 0; else nenhumResultado"
                class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <app-listed-product *ngFor="let product of products" [product]="product"></app-listed-product>
            </div>
        </div>
        <ng-template #nenhumResultado>
            Nenhum Resultado encontrado
        </ng-template>
    </div>
</div>