<div class="col">
    <div class="card shadow-sm text-bg-secondary">
        <div class="card-body">
            <div class="card-img-top" style="position: relative;">
                <img class="img-fluid"
                    src="https://st2.depositphotos.com/4366637/9560/i/600/depositphotos_95605190-stock-photo-brazilian-cheese-buns-table-cafe.jpg">
                <a href="#" class="stretched-link"></a>
            </div>
            <p *ngIf="product.description" class="card-text">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" (click)="alert('botão carrinho')" class="btn btn-sm text-bg-secondary">Colocar
                        na cesta</button>
                </div>
                <small class="text-body-primary">R${{product.price}}</small>
            </div>
        </div>
    </div>
</div>