<div class="container">
    <ng-container *ngIf="!isLoading$.value; else modalLoading">
        <ng-container *ngIf="(modal$ | async) as modal">
            <ng-container *ngIf="modal != modalEnum.Closed">
                <div style="--bs-bg-opacity: 0.5" class="modal d-block bg-body-secondary p-4 py-md-5" tabindex="-1"
                    role="dialog" id="modalSignin">
                    <div class="modal-dialog" role="document">
                        <ngContainer [ngSwitch]="modal">
                            <div class="modal-content rounded-4 shadow" *ngSwitchCase="modalEnum.SignUp">
                                <app-alert *ngIf="modalMessage != ''" [modalMessage]="modalMessage"></app-alert>
                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <h1 class="fw-bold mb-0 fs-2">ASDasd123</h1>
                                    <button (click)="closeModal()" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form class="form" [formGroup]="signUpForm" (ngSubmit)="submitSignUp()">
                                        <div class="form-floating mb-3">
                                            <input formControlName="name" class="form-control rounded-3" id="name"
                                                placeholder="your name">
                                            <label for="name">Your name</label>
                                            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                                                <div *ngIf=" name?.errors?.['required']" class="alert alert-dark mt-2">
                                                    Por
                                                    favor
                                                    digite
                                                    seu nome.</div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input formControlName="email" required type="email"
                                                class="form-control rounded-3" id="email"
                                                placeholder="name@example.com">
                                            <label for="email">Email address</label>
                                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                                <div *ngIf=" email?.errors?.['required']" class="alert alert-dark mt-2">
                                                    Por
                                                    favor
                                                    digite
                                                    seu endereço de email.</div>
                                                <div *ngIf="email?.errors?.['email']" class="alert alert-dark mt-2">
                                                    Email
                                                    inválido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input formControlName="password" type="password"
                                                class="form-control rounded-3" id="password" placeholder="Password">
                                            <label for="password">Password</label>
                                            <div *ngIf="password?.touched && !password?.valid">
                                                <div *ngIf="password?.errors?.['required']"
                                                    class="alert alert-dark mt-2">Por
                                                    favor digite
                                                    uma senha para sua conta.</div>
                                                <div *ngIf="password?.errors?.['pattern']"
                                                    class="alert alert-dark mt-2">
                                                    Sua
                                                    senha precisa
                                                    ter pelo menos 8 caracteres entre eles um maiúsculo, um minusculo e
                                                    um
                                                    número.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input formControlName="confirmPassword" type="password"
                                                class="form-control rounded-3" id="confirmPassword"
                                                placeholder="Password">
                                            <label for="confirmPassword">Confirm your
                                                password</label>
                                            <div *ngIf="confirmPassword?.touched && !confirmPassword?.valid">
                                                <div *ngIf="confirmPassword?.errors?.['required']"
                                                    class="alert alert-dark mt-2">
                                                    Por favor
                                                    confirme a senha da sua conta.</div>
                                                <div *ngIf="signUpForm.errors?.['doesNotMatch']"
                                                    class="alert alert-dark mt-2">A
                                                    senha informada
                                                    está diferente.</div>
                                            </div>
                                        </div>
                                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Sign
                                            up</button>

                                        <small class="text-body-secondary">By clicking Sign up, you agree to the terms
                                            of
                                            use.</small>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-content rounded-4 shadow" *ngSwitchCase="modalEnum.Login">
                                <app-alert *ngIf="modalMessage != ''" [modalMessage]="modalMessage"></app-alert>
                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <h1 class="fw-bold mb-0 fs-2">Login with your account</h1>
                                    <button (click)="closeModal()" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form class="form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                                        <div class="form-floating mb-3">
                                            <input formControlName="email" class="form-control rounded-3" id="email"
                                                placeholder="name@example.com">
                                            <label for="email">Email address</label>
                                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                                <div *ngIf=" email?.errors?.['required']" class="alert alert-dark mt-2">
                                                    Por
                                                    favor
                                                    digite
                                                    seu endereço de email.</div>
                                                <div *ngIf="email?.errors?.['email']" class="alert alert-dark mt-2">
                                                    Email
                                                    inválido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input formControlName="password" id="password"
                                                class="form-control rounded-3" placeholder="Password" type="password">
                                            <label for="password">Password</label>
                                        </div>
                                        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                            <div *ngIf=" password?.errors?.['required']" class="alert alert-dark mt-2">
                                                Por
                                                favor
                                                digite
                                                sua senha.</div>
                                            <div *ngIf="password?.errors?.['pattern']" class="alert alert-dark mt-2">
                                                A senha precisa
                                                ter pelo menos 8 caracteres entre eles um maiúsculo, um minusculo e
                                                um
                                                número.
                                            </div>
                                        </div>
                                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning"
                                            type="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-content rounded-4 shadow" *ngSwitchCase="modalEnum.Message">
                                <div class="modal-header p-5 border-bottom-0">
                                    <h1 class="fw-bold fs-2">{{modalMessage}}</h1>
                                    <button (click)="closeModal()" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                        </ngContainer>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<ng-template #modalLoading>
    <div style="--bs-bg-opacity: 0.5;" class=" modal modal-sheet d-block bg-body-secondary vertical-align: py-md-5"
        tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-5">
                    <app-spinner></app-spinner>
                </div>
            </div>
        </div>
    </div>
</ng-template>