<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">


            <button class="nav-link fs-4 px-2 text-white col-12 col-lg-auto me-lg-auto  justify-content-center"
                (click)="reload()">Padaria Sonhomeu
            </button>

            <div class="text-center col-12 col-lg-auto mb-lg-0 me-lg-2">
                <button (click)="login()" type="button" class="btn btn-outline-light me-2">Login</button>
                <button (click)="signUp()" type="button" class="btn btn-warning">Sign-up</button>
                <div *ngIf="user">{{user.user_email}}</div>
            </div>
        </div>
    </div>